In [1]:
import pandas as pd
import numpy as np

In [2]:
#serie
dataseries = pd.Series([10,11,10,78,93,56,22,57],name='wartosc M',index=['a','b','c','d','e','g','x','y'])
dataseries

In [3]:
data_dict = {
    'imię':['Jan','Arleta','Marian','Ludwik','Maria'],
    'wiek':[34,26,44,56,30],
    'miasto':['Kraków','Toruń','Gdańsk','Lublin','Kraków']
}

In [5]:
dataframe = pd.DataFrame(data_dict,index=['A','B','C','D','E'])
dataframe.T

,A,B,C,D,E
imię,Jan,Arleta,Marian,Ludwik,Maria
wiek,34,26,44,56,30
miasto,Kraków,Toruń,Gdańsk,Lublin,Kraków

In [7]:
wr = np.arange(1,17,3)
wr