In [1]:
import pandas as pd
import numpy as np

In [2]:
#serie
dataseries = pd.Series([10,11,10,78,93,56,22,57],name='wartosc M',index=['a','b','c','d','e','g','x','y'])
dataseries

In [3]:
data_dict = {
    'imię':['Jan','Arleta','Marian','Ludwik','Maria'],
    'wiek':[34,26,44,56,30],
    'miasto':['Kraków','Toruń','Gdańsk','Lublin','Kraków']
}

In [4]:
dataframe = pd.DataFrame(data_dict,index=['A','B','C','D','E'])
dataframe.T

,A,B,C,D,E
imię,Jan,Arleta,Marian,Ludwik,Maria
wiek,34,26,44,56,30
miasto,Kraków,Toruń,Gdańsk,Lublin,Kraków

In [5]:
wr = np.arange(1,17,3)
wr

In [6]:
!cat dane/ex1.csv

a,b,c,d,message
1,2,3,4,hello
5,6,7,8,world
9,10,11,12,foo

In [7]:
df = pd.read_csv('dane/ex1.csv')
df

,a,b,c,d,message
0,1,2,3,4,hello
1,5,6,7,8,world
2,9,10,11,12,foo

In [8]:
df.to_numpy()

In [9]:
!cat dane/ex2.csv

1,2,3,4,hello
5,6,7,8,world
9,10,11,12,foo

In [10]:
names = ['A','B','C','D','informacja']
df2 = pd.read_csv('dane/ex2.csv',names = names,index_col = 'informacja')
df2

,A,B,C,D
informacja,,,,
hello,1,2,3,4
world,5,6,7,8
foo,9,10,11,12

In [11]:
!cat dane/ex4.csv

# Cześć!
a,b,c,d,message
# Chciałem tylko trochę utrudnić Twoją pracę.
# Kto w ogóle wczytuje pliki CSV za pomocą komputera?
1,2,3,4,hello
5,6,7,8,world
9,10,11,12,foo

In [12]:
dataframe = pd.read_csv('dane/ex4.csv',skiprows=[0,2,3])
dataframe

,a,b,c,d,message
0,1,2,3,4,hello
1,5,6,7,8,world
2,9,10,11,12,foo

In [13]:
danew = pd.read_csv('dane/ex5.csv',index_col=['message'])
danew

,something,a,b,c,d
message,,,,,
NaN,one,1,2,3.0,4
world,two,5,6,NaN,8
foo,three,9,10,11.0,12

In [14]:
danew['f'] = [124,456,654]
danew

,something,a,b,c,d,f
message,,,,,,
NaN,one,1,2,3.0,4,124
world,two,5,6,NaN,8,456
foo,three,9,10,11.0,12,654

In [15]:
danew.to_csv('dane/super5.csv')

In [16]:
!cat dane/super5.csv

message,something,a,b,c,d,f
,one,1,2,3.0,4,124
world,two,5,6,,8,456
foo,three,9,10,11.0,12,654

In [17]:
danew.to_html('dane/super5.html')

In [18]:
danew.to_json('dane/super5.json')